In [1]:
for_for_loop = [1,2,3]  #this is a list i have created
for name in for_for_loop:
    print(name)

1
2
3

In [2]:
# nums = [1,2,3,4,45,6,7,8,9]

In [3]:
# for jelly in nums:
#     print(jelly)

1
2
3
4
45
6
7
8
9

In [13]:
for number in nums:
    if number % 2 == 0:
        print(number)
    else:
        print('odd')

TypeError: 'int' object is not iterable

In [29]:
num = [1,2,3,4,5,6,7,8,9] #this is a list

In [23]:
zero = 0
for nums in num:
    zero = zero + nums
print(zero) #printing zero outside of the for loop by this it will
            #only print the total sum after running the for loop

45

In [22]:
zero = 0
for nums in num:
    zero = zero + nums
    print(zero) #in this print in inside the for this will print 
                #the number after every time for loop runes

1
3
6
10
15
21
28
36
45

In [24]:
mtstring = 'hello world'

In [25]:
for words in mtstring:
    print(words)

h
e
l
l
o

w
o
r
l
d

In [26]:
for words in 'hello world':
    print(words)

h
e
l
l
o

w
o
r
l
d

In [27]:
tupples = (1,2,3,4)

In [28]:
for tup in tupples:
    print(tup)

1
2
3
4

In [30]:
#this is tupple unpacking

In [32]:
tup = [(1,2),(3,4),(5,6)]

In [35]:
for items in tup:
    print(items)

(1, 2)
(3, 4)
(5, 6)

In [37]:
for a,b in tup:
    print(a)

1
3
5

In [39]:
for a,b in tup:
    print(b)

2
4
6

In [40]:
#for loop in distonarirs/

In [43]:
d = {'k1':1, 'k2':2 ,'k3':3}

In [44]:
for items in d:
    print(items)

k1
k2
k3

In [45]:
#tupple unpacking also working in dic

In [46]:
for key,value in d:
    print(value)

1
2
3

In [ ]:
for key,value